<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OpKoKo Schedule</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.css'/>
</head>
<body>
<div class="container">

    <table class="table-striped">
        <thead>
        <tr>
            <th class="col-md-6">Beskrivning</th>
            <th class="col-md-2">Talare</th>
            <th class="col-md-2">Plats</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="event : ${events}">
            <tr id="event">
            <td class="col-md-6">
            <a id="event_description" th:href="@{/__${event.id}__}" th:text="${event.description}"/>
            </td>
            <td id="event_speaker" class="col-md-2" th:text="${event.speaker}"/>
            <td id="event_location" class="col-md-2" th:text="${event.location}"/>
            </tr>
        </div>
        </tbody>
    </table>
</div>
</body>
</html>